# node_modules 폴더는 기본적으로 무시되지만, 명시적으로 추가
node_modules

# 빌드된 파일과 관련 폴더 무시
.next
public

# 환경설정 파일 무시
*.lock
*.config.js
*.config.mjs

# 특정 폴더 무시
projects
content
public

# Git 관련 파일 무시
.git
.gitignore
.gitattributes

# README 파일 무시
README.md

# 환경 설정 파일
.prettierrc

# 패키지 관리
package-lock.json